<div class="card my-2 bg-light">
  <div class="card-body">
    <div class="d-flex flex-row">
      <div class="flex-grow-1">
        <div class="font-weight-bolder">{{repo.name}}</div>
        <div class="font-weight-lighter text-muted">{{ repo.description | json | truncate:50 }}</div>
        <div #container> <i class="devicon-{{repo.language | lowercase}}-plain colored"></i></div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div class="bd-group d-flex justify-content-between">
            <span class="badge badge-primary mx-1">Forks: {{repo.forks_count}}</span>
            <span class="badge badge-secondary mx-1">Watchers: {{repo.watchers_count}}</span>
            <span class="badge badge-success mx-1">Stars: {{repo.stargazers_count}}</span>
        </div>
        <a href="{{repo.html_url}}" target="_blank" class="btn btn-dark" >Repo Page</a>
      </div>
    </div>
  </div>
</div>
